PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/logistics-manpower
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=30d
CLIENT_URL=your_client_url_here

# Email settings
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
EMAIL_FROM=noreply@logisticsco.com
EMAIL_TO=admin@logisticsco.com

# Cloudinary Settings
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

